<div *ngIf="session.isActive" class="container mt-5">
  <h1>Welcome to {{session.topic}} Session</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <ngb-alert
            *ngIf="validationMessage"
            [type]="'danger'"
            (close)="close()"
          >{{ validationMessage }}</ngb-alert
          >
          <div *ngFor="let item of displayedItems">
            <p>DISPLAY SESSION STUFF HERE</p>
            <p>{{item.label}}</p>
          </div>

        </div>
      </div>
    </div>

    <!-- admin card stuff here -->
    <div *ngIf="auth.isAdmin" class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <ngb-alert
            *ngIf="validationMessage"
            [type]="'danger'"
            (close)="close()"
          >{{ validationMessage }}</ngb-alert
          >
          <p>Admin!</p>
          <div *ngFor="let item of session.prompts">

            <div class="card">
              <div class="card-body">
                <p>Question: {{item.label}}</p>
                <p>Question: {{item.displayIndex}}</p>
                <p>{{isPromptDisplayed(item)}}</p>
                <button (click)="askQuestion(item)" [disabled]="isPromptDisplayed(item)" class="btn btn-secondary">Ask Question</button>
              </div>
            </div>
          </div>

          <button    class="btn btn-dark" >End Session</button>

        </div>
      </div>
    </div>

  </div>
</div>

