<div class="container mt-5">
    <h1>Create New Session</h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <ngb-alert
              *ngIf="validationMessage"
              [type]="'danger'"
              (close)="close()"
              >{{ validationMessage }}</ngb-alert
            >
            <!-- Makes POST request to /template route -->
            <form (ngSubmit)="createSession()">
              <div class="form-group">
                <label for="topic">Topic</label>
                <input
                  [(ngModel)]="session.topic"
                  type="text"
                  class="form-control"
                  name="topic"
                />
              </div>
              <div class="form-group">
                <label for="department">Department Requirement</label>
                <input
                  [(ngModel)]="session.departmentFilter"
                  type="text"
                  class="form-control"
                  name="departmentFilter"
                />
              </div>
              <div class="form-group">
                <label for="assignedUsers">Assigned Users</label>
                <br>
                <button (click)="assignUsersModal()">Assign Users</button>
                <tag-input [(ngModel)]="selectedTags" [onlyFromAutocomplete]="true"  name="selectedTags">
                  <tag-input-dropdown [autocompleteItems]="tags">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <!--  for promts below,  will create option to add more than one prompt-->
              <h2>Prompt template below:</h2>
              <br>
              <div *ngFor="let prompt of session.prompts; let i = index">
                <hr>
              <div class="form-group">
                <label for="label">Label (Actual Question)</label>
                <input
                  [(ngModel)]="prompt.label"
                  type="text"
                  class="form-control"
                  name="label"
                />
              </div>
              <div class="form-group">
                <label for="type">Question Type</label>
                <select [(ngModel)]="prompt.type" class="form-control" id="exampleFormControlSelect1" name="type">
                    <option>OPEN</option>
                    <option>MULTIPLE_CHOICE</option>

                  </select>
              </div>
              <div class="form-group">
                <label for="answers"> Possible Ansers</label>
                <input
                  [(ngModel)]="prompt.possibleAnswers"
                  data-role="tagsinput"
                  type="text"
                  class="form-control"
                  name="label"
                />
              </div>
              </div>
              <button type="submit" class="btn btn-dark">Create Session</button>
              <button class="btn btn-light" (click)="addPrompt()">Add another quesiton</button>
            </form>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-4">
        <div class="card social-block">
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
