<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user-friends fa-6x"></i>
    <h1 class="display-3">Users</h1>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="create()"
            >
              <span class="glyphicon glyphicon-plus"></span> create
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="editUser(user)">
          <td>{{ user.email }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
        </tr>
      </tbody>
    </table>

    <hr />
  </div>
</div>
